.crear {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(249, 173, 102, 0.5),
    rgba(58, 62, 89, 0.5)
  );
}
.crear div {
  position: relative;
  top: -5vh;
}
.crear h2 {
  color: whitesmoke;
}
.crear form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.crear input {
  margin-bottom: 3vh;
  position: relative;
  border-radius: 25px;
  border-style: none;
  text-align: center;
}
.crear input::placeholder {
  text-align: center;
}
.crear .texto {
  border-radius: 1px;
  text-align: left;
  height: 15vh;
}.crear .texto::placeholder {
    padding: 5px;
    text-align: left
  }
.crear p {
  position: relative;
  text-align: left;
}
.crear button {
  border-style: none;
  padding: 3px;
}
