.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.home .cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1vh;
}
.home li {
  list-style: none;
  text-align: left;
  background: linear-gradient(180deg,
   rgba(195, 107, 132,.5),
    rgba(58, 62, 89,.5));
  margin: 1vh 3vw;
  display: flex;
  min-width: 150px;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px;
  border-radius: 25px;
  position: relative;
  z-index: 10;
}
.home li .nam {
  color: black;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-style: oblique;
}
.home li .men {
  color: whitesmoke;
}
.home li .vot {
  text-align: center;
  border-radius: 25vw;
  width: 100%;
  padding: 2.5%;
  color: white;
  font-weight: 900;
}
.home li img {
  width: 10%;
  align-self: center;
  border-style: none;
  position: absolute;
 filter: drop-shadow(0 0 3px rgba(58, 62, 89,.6));
}
.home li .menosb {
  top: 70%;
  left: 3%;
}
.home li .masb {
  top: 70%;
  left: 87%;
}

.creare {
  position: fixed;
  padding: 5px;
  margin:1vh 3vh;
  right: 0%;
  border-style: none;
  border-radius: 25px;
  top: 85vh;
  width: 25vw;
  height:5vh;
  background: linear-gradient(90deg,rgb(237,108,91),rgb(249,173,102));
  color: whitesmoke;
  font-weight: 700;
  z-index: 20;
}
